.product-grid{
    font-family:'IBM Plex Sans', sans-serif;
    text-align: center;
    box-shadow: 0px 30px 40px -20px $grayishBlue;
    border-radius: 1rem;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    border-radius: 1.3rem;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 250px;
    height: 150px;
    object-fit: contain;
    
}

.product-grid .product-links{
    width: 170px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links{
    bottom: 40px;
    opacity: 1;
}
.product-grid .product-links li{
    display: inline-block;
    margin: 0 2px;
}
.product-grid .product-links li a, .product-grid .product-links li form {
        background: $main-color;
        font-size: 16px;
        line-height: 48px;
        width: 48px;
        height: 48px;
        border-radius: 10px;
        display: block;
        transition: all 0.3s ease 0s;
        & i {
            color: $white-color;
        }

}
.product-grid:hover .product-links li a:hover{ background: $main-hover; }
.product-grid .product-content{
    text-align: left;
    padding: 15px;
    margin-bottom: 20px;
}
.product-grid .title{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 0;
}
.product-grid .title a{
    color: $white-color;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: $main-color; }
.product-grid .price{
    color: $main-color;
    font-size: .8rem;
    font-weight: 400;
}

@media screen and (max-width: 990px){
    .product-grid{ margin: 0 0 30px; }
}
